absl-py==1.3.0
altair==4.2.0
#apt-clone==0.2.1
#apt-clone
#apturl==0.5.2
arch==5.3.1
asttokens==2.2.1
astunparse==1.6.3
attrs==22.2.0
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.8.2
bleach==5.0.1
blinker==1.4
#Brlapi==0.7.0
cachetools==5.2.0
certifi==2019.11.28
#chardet==3.0.4
#charset-normalizer==2.1.1
#click==8.1.3
#colorama==0.4.3
#comm==0.1.2
#command-not-found==0.3
configobj==5.0.6
cryptography==2.8
#cupshelpers==1.0
cycler==0.11.0
Cython==0.29.32
dbus-python==1.2.16
debugpy==1.6.4
decorator==5.1.1
defer==1.0.4
distlib==0.3.6
distro==1.4.0
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.2.0
filelock==3.8.2
Flask==2.2.2
flatbuffers==22.12.6
fonttools==4.29.1
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.30
google-auth==2.15.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.51.1
h5py==3.7.0
httplib2==0.14.0
idna==2.8
ifaddr==0.1.6
importlib-metadata==5.1.0
importlib-resources==5.10.2
ipykernel==6.19.2
ipython==8.7.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
jupyter_client==7.4.8
jupyter_core==5.1.0
keras==2.11.0
keyring==18.0.1
kiwisolver==1.3.2
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
libclang==14.0.6
lightfm==1.16
louis==3.12.0
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.6
mdurl==0.1.2
MouseInfo==0.1.3
nemo-emblems==4.6.0
nest-asyncio==1.5.6
netaddr==0.7.19
netifaces==0.10.4
nmslib==2.1.1
nose==1.3.7
numpy==1.22.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.1.0
onboard==1.4.1
opencv-python==4.7.0.68
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==22.0
PAM==0.4.2
pandas==1.4.1
parso==0.8.3
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
pika==1.1.0
Pillow==9.4.0
pkgutil_resolve_name==1.3.10
platformdirs==2.6.0
plotly==5.6.0
pmdarima==2.0.2
prompt-toolkit==3.0.36
property-cached==1.6.4
protobuf==3.19.6
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.33
pybind11==2.6.1
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
pydeck==0.8.0
PyGetWindow==0.0.9
Pygments==2.13.0
PyGObject==3.36.0
PyICU==2.4.2
pyinotify==0.9.6
PyJWT==1.7.1
pymacaroons==0.13.0
Pympler==1.0.1
PyMsgBox==1.0.9
PyNaCl==1.3.0
pyparsing==2.4.6
pyparted==3.11.2
pyperclip==1.8.2
PyRect==0.2.0
pyRFC3339==1.1
pyrsistent==0.19.3
PyScreeze==0.1.28
python-apt==2.0.0+ubuntu0.20.4.8
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
python-xapp==2.0.1
python-xlib==0.23
python3-xlib==0.15
pytweening==1.0.4
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pyxdg==0.26
PyYAML==5.3.1
pyzmq==24.0.1
reportlab==3.5.34
requests==2.28.1
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
rich==13.2.0
rsa==4.9
scikit-learn==1.1.3
scikit-surprise==1.1.3
scipy==1.8.0
seaborn==0.11.2
SecretStorage==2.3.1
semver==2.13.0
setproctitle==1.1.10
simplejson==3.16.0
six==1.16.0
sklearn==0.0.post1
smmap==5.0.0
soupsieve==1.9.5
stack-data==0.6.2
statsmodels==0.13.5
streamlit==1.17.0
systemd-python==234
tenacity==8.0.1
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.28.0
termcolor==2.1.1
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tinycss2==1.0.2
tk==0.1.0
toml==0.10.2
toolz==0.12.0
torch==1.13.1
torchvision==0.14.1
tornado==6.2
tqdm==4.64.1
traitlets==5.7.0
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
ubuntu-advantage-tools==27.12
ubuntu-drivers-common==0.0.0
ufw==0.36
Unidecode==1.1.1
urllib3==1.25.8
uWSGI==2.0.21
validators==0.20.0
virtualenv==20.17.1
wadllib==1.3.3
watchdog==2.2.1
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.2.2
wrapt==1.14.1
xkit==0.0.0
xlwt==1.3.0
zeroconf==0.24.4
zipp==3.11.0





